.wrapper {
	width:100vw;
	margin: 5vh 0;
	text-align: center;
}

.container {
	width: 80%;
	margin: auto;
	padding: 0 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profile-pic-container {
	width: 100%;
	margin-bottom: 5%;
}

.profile-pic {
	width: 16vw;
}

.hero {
	width: 100%;
	padding-top: 36.36%; /* 2.75:1 aspect ratio */
	margin-bottom: 7%;
	background: #6B99E6;
}

.project-photo {
	width: 29%;
	padding-top: 100%; /* 1:1 aspect ratio */
}